<div class="center">
    <h2></h2>
    <img src="../../assets/img/pngegg.png" alt="">
    <p class="about">Hola! Soy Paula Nuñez Polanco, he trabajado como oficial de Notaría por más de 27 años en la ciudad de Valparaíso.En
        todo este tiempo he adquirido una basta experiencia en la solución de problemas documentales, acuerdos matrimoniales
        y/o familiares, herencias, etc. Por lo mismo poseo los conocimientos para redactar diversos documentos públicos
        conocidos como escrituras y otros documentos privados.
    
        En busca de nuevos propósitos he creado teayudovalpo para poder cubrir las necesidades de muchas personas que
        pierden su tiempo de un lado para otro en gestiones y trámites que no siempre les resultan fáciles de hacer o les
        cuesta comprender como se deben realizar, lidiando con organismos públicos hostiles y confusos. Muchas personas,
        principalmente adultos no se manejan en redes online y ven frustrados sus intentos de obtener documentación o
        soluciones a sus problemas, abandonando trámites a medio camino ante tantas trabas del sistema que no manejan o no
        pueden costear asesores con altos honorarios.
    
        Para eso estamos, para agilizar los trámites, evitar que hagas filas o des vueltas de un lado a otro sin conseguir
        respuestas.
        Pondremos nuestra mejor disposición para ser una ayuda real, conciente y responsable con un buen trato y acomodarnos
        a tus necesidades, explicando en un idioma simple y claro sin tecnicismos que muchas veces nos cuesta entender.
        Asimismo recibirás orientación en los temas que conozca o puedo aconsejarte tomar otro camino con algún profesional
        calificado. </p>
</div>



