<div class="center">
    <div>

        <img src="../../assets/img/column.png" class="img__dos" alt="">
        <img src="../../assets/img/column.png" class="img__tres" alt="">
        <h3 class="__h2">“Sapientia et scientia in omnibus”</h3>
    </div>
    <img src="../../assets/img/pngegg.png" class="img__uno" alt="">
    <p class="text-muted about">Hola! Les cuento algo de mi.<br>

        He trabajado como oficial de Notaría por más de 27 años en la ciudad de
        Valparaíso. En todo este tiempo he adquirido una basta experiencia en la solución de
        problemas documentales, acuerdos matrimoniales y/o familiares, herencias, etc. Por lo
        mismo poseo los conocimientos para redactar diversos documentos públicos conocidos
        como escrituras y otros documentos privados. <br>
        
        En busca de nuevos propósitos y con el apoyo de un par de colegas en la
        profesión además de una red de prestadores de servicios asociados a trámites como
        arquitectos y abogados he creado teayudovalpo para cubrir las necesidades de muchas
        personas que pierden su tiempo de un lado para otro en gestiones y trámites que no
        siempre les resultan fáciles de hacer o les cuesta comprender como se deben realizar,
        lidiando con organismos públicos hostiles y confusos. Muchas personas,
        principalmente adultos no se manejan en redes online y ven frustrados sus intentos de
        obtener documentación o soluciones a sus problemas, abandonando trámites a medio
        camino ante tantas trabas del sistema que no manejan o no pueden costear asesores con
        altos honorarios. <br>
        
        Pensando además en aquellas personas que tienen alguna discapacidad
        física que les complica hacer trámites o consultas y nuevamente pensando en nuestros
        adultos mayores temerosos de salir a la calle o de portar documentos importantes como
        títulos de dominio o escrituras, es que he implementado el sistema de atención a
        domicilio. <br>
        
        Para eso estamos, para agilizar los trámites, evitar que hagas filas o des
        vueltas de un lado a otro sin conseguir respuestas o simplemente para recibir ayuda en
        la comidad de tu hogar. Pondremos nuestra mejor disposición para ser una ayuda real,
        conciente y responsable acompañada de un buen trato explicando en un idioma simple
        y claro sin tecnicismos que muchas veces nos cuesta entender, acomodándonos a la
        realidad de cada cliente. <br>
        
        He querido incorporar como clientes a los Abogados que quieran contar
        con mi asesoría, opinión o ayuda en la gestión de documentos, pues son varios jóvenes
        recién agresados que no se manejan claramente en lo que es redacción como tal y otros
        ya consagrados que ante una alta demanda de trabajo no alcanzan a cumplir con los
        escritos o minutas, siendo mi función clave para distribuir su tiempo de mejor forma.
        Encontrarán apoyo en nosotros. <br>
        
        En temas o consultas que no sean de nuestro conocimiento recibirás
        orientación y podrás aceptar la sugerencia que se te entregará para ser derivado con
        algún profesional calificado.
        Afectuosamente, </p>

        Paula Nuñez Polanco
</div>



