<header class="header">
    <nav class="container">
      <div class="logo">
        <img src="../../../assets/img/logo.png" alt="Logotipo" routerLink="/">
      </div>
      <div class="boton">
        <label for="btn-menu">Menu</label>
      </div>
      <input type="checkbox" id="btn-menu">
    
      <div class="menu">
        <a class="navbar-item"  routerLink="/">Inicio</a>
        <a class="navbar-item"  routerLink="/nosotros">Nosotros</a>
        <a class="navbar-item"  routerLink="/contacto">Contacto</a>
      </div>
    </nav>
    </header>
