<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="../../../assets/img/logo.png" alt="Logo Te ayudo Valpo">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>Hola!  Soy Paula Nuñez Polanco, he trabajado como oficial de Notaría por más de 27 años en la ciudad de Valparaíso.
                En todo este tiempo he adquirido una basta experiencia en la solución de problemas documentales, acuerdos matrimoniales y/o familiares, herencias, etc. </p>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
              
                <a href="#" class="fa fa-youtube"></a>
            </div>
        </div>
        <div class="box">
            <h2>ENCUENTRANOS</h2>
            <iframe src="" 
            width="290" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>

    <div class="grupo-2">
        <small>&copy;2022 <b>TeAyudoValpo</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>
