<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="../../assets/img/logo.png" alt="Logo Te ayudo Valpo">
                </a>
            </figure>
        </div>
        <div class="box">
            <div class="afooter">
                <h3>Soporte</h3>
                <p class="">Comunicate con nosotros por los siguientes medios: <br></p>
                <p class="">Correo: <a class="" href="mailto:soporte@teayudovalpo.cl">soporte@teayudovalpo.cl</a><br></p>
            </div>
        </div>
        <div class="box">
            <h3>Contáctanos</h3>
            <div class="red-social">
                   <!--Rede sociales-->
                   <a href="https://www.facebook.com" class="contA"><img src="../../assets/img/fb.png" class="imag" /></a>
                   <a href="https://wa.me" class="contA"><img src="../../assets/img/wapp.png" class="imag" /></a>
                   <a href="https://www.instagram.com" class="contA"><img src="../../assets/img/ig.png" class="imag" /></a>
                   <a href="mailto:contacto@teayudovalpo.cl" class="contA"><img src="../../assets/img/em.png" class="imag" /></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy;2022 <b>TeAyudoValpo</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>