<div class="how-section1">
  <div class="row">
    <div class="col-md-6 how-img">
      <img src="../../../assets/img/folder.png" class="img-fluid" alt="" />
    </div>
    <div class="col-md-6">
      <h4>DOCUMENTOS EXPRESS.</h4>
      <h4 class="subheading">Te llevas el documento listo a la Notaria de tu elección.</h4>
      <p class="text-muted">
        <li>Cartas y Escritos $5.000 por hoja</li>
        <li>Contratos de arrendamiento $20.000</li>
        <li>Contratos de obra $20.000</li>
        <li>Contratos de servicios $20.000</li>
        <li>Declaraciones o solicitudes desde $3.000 según extensión</li>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>DOCUMENTOS DE PROPIEDADES.</h4>
      <h4 class="subheading">Generalmente los piden en Notarías o en Bancos.</h4>
      <p class="text-muted">
        <li>Conservador de Bienes Raíces. Certificados de hipotecas y gravámenes, copias inscripción, vigencias, etc.
        </li>
        <li>Registro Civil: Certificado de matrimonio, defunción, nacimiento, etc.</li>
        <li>Servicio de Impuestos Internos: Certificado de avalúo fiscal y otros.</li>
        <li>Servicio de Tesorería: Certificado de deuda, contribuciones, pago online contribuciones</li>
        <li>Municipalidad: Certificado de número domiciliario, certificado de no expropiación otros varios.</li>
        <li>Serviu: Certificado de no expropiación</li>
        <li>Archivero Judicial: Copias de escrituras</li>
      </p>
    </div>
    <div class="col-md-6 how-img">
      <img src="../../../assets/img/home.png" class="img-fluid" alt="" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 how-img">
      <img src="../../../assets/img/car-insurance.png" class="img-fluid" alt="" />
    </div>
    <div class="col-md-6">
      <h4>DOCUMENTOS DE VEHICULOS.</h4>
      <h4 class="subheading">No hagas filas, tu transfiere y yo te pago.</h4>
      <p class="text-muted">
        <li>Registro Civil: Certificado de anotaciones vigentes copia padrón</li>
        <li>Pago online de permiso de circulación y seguro automotriz obligatorio.</li>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>CREACION EMPRESAS ONLINE.</h4>
      <h4 class="subheading">Preparamos y redactamos tu empresa, lo revisas y te damos el código para que vayas a la
        Notaria de tu elección con todo listo. Desde $30.000 </h4>
      <p class="text-muted">
        <li>SPA - E.I.R.L. (individuales) - LTDA</li>
        <li>Formación - obtención de RUT</li>
      </p>
    </div>
    <div class="col-md-6 how-img">
      <img src="../../../assets/img/prototype.png" class="img-fluid" alt="" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 how-img">
      <img src="../../../assets/img/problem-solving.png" class="img-fluid" alt="" />
    </div>
    <div class="col-md-6">
      <h4>POSESIONES EFECTIVAS.</h4>
      <h4 class="subheading">Atención personalizada para realizar tramitación de herencias intestadas. Se coordina una
        atención presencial para evaluar y valorizar, gestionamos un poder notarial específico y nos encargamos de todo.
      </h4>
      <p class="text-muted">
        <li>Gestión en Registro Civil, Servicio Impuestos Internos, Conservador y otros </li>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>ATENCION A DOMICILIO.</h4>
      <h4 class="subheading">Abuelitos de tercera edad tienen una tarifa rebajada. 👵👴</h4>
      <p class="text-muted">
        <li>Si no puedes o no quieres salir de tu casa para una orientación jurídica de índole notarial y
          administrativa, te atendemos en tu casa.
          Pagas tarifa $30.000 la hora en tu casa y despejamos todas tus dudas.
        </li>
      </p>
    </div>
    <div class="col-md-6 how-img">
      <img src="../../../assets/img/nursing-home.png" class="img-fluid" alt="" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 how-img">
      <img src="../../../assets/img/modernization.png" class="img-fluid" alt="" />
    </div>
    <div class="col-md-6">
      <h4>GESTIONES FUERA DE LA REGIÓN O AL EXTRANJERO.</h4>
      <h4 class="subheading">
      </h4>
      <p class="text-muted">
        <li>Disponible online.</li>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>REDACCIÓN DE MINUTAS VARIAS PARA ABOGADOS</h4>
      <h4 class="subheading">Estás partiendo en ejercer tu abogacía o agobiado de trabajo?
        Solicita tu minuta y recibirás en un tiempo record el documento listo para chequear 
        y cumplir plazos con tus clientes.
        Accede a atención preferencial.
        Tarifas y plazos según tipo de documento.
      </h4>
      <p class="text-muted">
        <li>Compraventas de propiedades</li>
        <li>Usufructos</li>
        <li>Cesión de Derechos</li>
        <li>Testamentos</li>
        <li>Particiones</li>
        <li>Liquidaciones de sociedad conyugal</li>
        <li>Mandatos Especiales</li>
        <li>Estudio de títulos</li>
      </p>
    </div>
    <div class="col-md-6 how-img">
      <img src="../../../assets/img/content.png" class="img-fluid" alt="" />
    </div>
  </div>
</div>
<app-membrecia></app-membrecia>