<div class="container">
        <div class="one">
     <h1>uno</h1>
        </div>
        <div class="two">
          <h1>dos</h1>
        </div>
        <div class="three">
          <h1>tres</h1>
        </div>
        <div class="cuatro">
          <h1>cuatro</h1>
        </div>
        <div class="cinco">
          <h1>cinco</h1>
        </div>
        <div class="seis">
          <h1>seis</h1>
        </div>
        <div class="siete">
          <h1>siete</h1>
        </div>
        <div class="ocho">
          <h1>ocho</h1>
        </div>

</div>
